.column {
  transition: all 0.5s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ABeeZee', sans-serif;
}

.opl {
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 99999;
}

/*Header Section*/

.workspace {
  background-color: #4a3f60;
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;

  .stars {
    width: 100%;
    height: 1500px;
    position: absolute;
    padding: 50px;
    background-image: url('../img/stars.png');
    background-repeat: repeat;
    margin-top: -500px;
  }

  h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    margin-top: 200px;
    font-family: 'Bad Script', cursive;
  }

  span {
    font-family: 'ABeeZee', sans-serif;
    font-size: 50px;
  }

  img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 700px;
    margin-top: 100px;
  }
}

/*Navigation*/
/* .nav-placeholder {
} */

.nav-bar {
  background-color: #f4f4f4;
  width: 100%;
  height: 70px;
  box-shadow: 1px 0px 1px #828282;

  .nav-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 70px;
  }
}

.nav-bar-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.name {
  float: left;

  h3 {
    margin-top: 12px;
    font-family: 'Pacifico', cursive;
    color: #e26867;
    font-size: 30px;
  }
}

.nav-items {
  float: right;
  margin-top: 13px;

  a {
    display: inline-block;
    height: 100%;
    padding: 10px;
    width: auto;
    position: relative;
    color: #e26867;
  }
}

.nav-items a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #e26867;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-items a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*Main Container*/
.main-container {
  width: 100%;
  background-color: #fff;
  clear: both;
}

.columns {
  margin: 0;
  padding: 0;
}

.columns .column {
  margin: 0;
  padding: 0;
}

/*About Section*/

.about {
  width: 70%;
  padding: 30px 0px;
  margin: 0 auto;

  .lam-img {
    background-image: url('../img/profile-pic.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 170px;
    border: solid 1px #d9dce1;
  }

  .about-me-description h3 {
    color: #7db29b;
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .about-me-description p {
    color: #959595;
    margin: 0;
    line-height: 35px;
    font-size: 15px;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-description {
  padding: 0px 25px;
}

/*Skills Section*/
.skills {
  width: 100%;
  background-color: #7cb29b;
  color: #fff;

  .columns {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h4 {
    color: #5c8875;
    font-size: 20px;
  }

  p,
  ul li {
    line-height: 25px;
    letter-spacing: 2px;
    list-style-type: square;
  }

  p strong {
    color: #dddddd;
  }
}

.skills-pic-container {
  position: relative;

  .element {
    position: absolute;
    display: block;
  }
}

.element#laptop {
  top: 40px;
  left: 0px;
}

.element#smartphone {
  top: 205px;
  left: 10px;
  width: 90px;
}

.element#lamp {
  bottom: -300px;
  left: 250px;
  width: 175px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.element#pencil {
  bottom: -290px;
  left: 100px;
  width: 170px;
}

#all-skills {
  display: none;
  margin-top: 50px;
  margin: 0 auto;
}

.frameworks-tools {
  display: flex;
  justify-content: space-between;

  ul {
    flex-basis: 50%;
  }
}

/*Experience Section*/
.experience {
  padding: 20px 0px;
  width: 100%;
  background: #f5f5f5;

  .experience-container {
    width: 70%;
    margin: 0 auto;
  }
}

.experience-container > h4 {
  color: #e26867;
}

.timeline {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  height: 100%;
  width: 2px;
  background: #e26867;
}

.timeline-block {
  margin: 0;
  padding-top: 30px;
  height: auto;

  opacity: 0;
  -webkit-transform: translateY(-20px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translateY(-20px); /* IE 9 */
  transform: translateY(-20px);
  transition: all 1s ease-in-out;
}

.timeline-circle {
  background-color: #e26867;
  border: solid 4px #f5f5f5;
  padding: 15px;
  float: left;
  z-index: 100;
  position: absolute;
  left: 10px;
  border-radius: 41px;

  p {
    color: white;
    font-size: 10px;
    margin: 0;
    text-align: center;
  }
}

.timeline-content {
  background-color: #f9f9f9;
  position: relative;
  margin-left: 130px;
  padding: 20px;
  box-shadow: 1px 1px 5px #dddddd;
}

.timeline-content:before {
  content: '';
  position: absolute;
  top: 35px;
  right: 100%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right: 10px solid #e26867;
}

.experience .job-title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience .job-title a {
  color: #e26867;
  font-size: 18px;
}

.experience .job-title a:hover {
  color: #dc8988;
}

.timeline-content .job-location {
  color: #e26867;
  font-size: 15px;
}

.timeline-content h3 {
  color: #737373;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.timeline-content p {
  color: #949494;
  font-size: 15px;
  margin-bottom: 15px;
}

.timeline-content strong {
  color: #737373;
}

.timeline-block.show {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Parallax Section*/
.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background-image: url('../img/sanfrancisco.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -moz-box-shadow: inset 0 0 10px #b5b5b5;
  -webkit-box-shadow: inset 0 0 10px #b5b5b5;
  box-shadow: inset 0 0 10px #b5b5b5;

  h2 {
    font-weight: 100;
    color: #fff;
    text-shadow: 1px 1px 5px #828282;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
    font-size: 35px;
  }

  h6 {
    color: #fff;
    text-shadow: 1px 1px 5px #828282;
    margin: 0;
  }
}

/* Specialization Section */
.specialization {
  width: 100%;
  background-color: #e26867;
  min-height: 382px;
}

.specialization-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.specialization .specialization-container h4 {
  color: #984342;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.specialization .specialization-container img {
  width: 150px;
  margin-bottom: 15px;

  opacity: 0;
  -webkit-transform: translateY(-50px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translateY(-50px); /* IE 9 */
  transform: translateY(-50px);
  transition: all 0.3s ease-in-out;
}

.specialization .specialization-container h5 {
  color: #fff;
  font-weight: bold;
}

.specialization .columns .column p {
  color: #fff;
}

.specialization .columns .column h5,
.specialization .columns .column p {
  opacity: 0;
  -webkit-transform: translateY(50px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translateY(50px); /* IE 9 */
  transform: translateY(50px);
  transition: all 0.3s ease-in-out;
}

.specialization .columns .column img.show,
.specialization .columns .column h5.show,
.specialization .columns .column p.show {
  opacity: 1;
  -webkit-transform: translateY(0px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translateY(0px); /* IE 9 */
  transform: translateY(0px);
}

/* Contact Section */
.contact {
  width: 100%;
  min-height: 260px;
  display: flex;
  align-items: center;
  background-color: #446cb3;

  .contact-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    h4 {
      text-transform: uppercase;
      color: #244682;
      margin: 0;
      margin-bottom: 30px;
      font-size: 25px;
    }

    i {
      font-size: 70px;
      color: #244682;
      transition: all 0.4s ease-in-out;
    }

    i:hover {
      -webkit-transform: translateY(
        10px
      ); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: translateY(10px); /* IE 9 */
      transform: translateY(10px);
    }
  }
}
