$pink: #e26867;
$teal: #7db29b;
$purple: #4a3f60;
$grey: #959595;
$dark-grey: #737373;
$light-grey: #f5f5f5;
$super-light-grey: #f9f9f9;
$white: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ABeeZee", sans-serif;
}

.opl {
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 99999;
}

/*Header Section*/
.workspace {
  background-color: $purple;
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;

  .stars {
    background-image: url("../img/stars.png");
    background-repeat: repeat;
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
  }

  h1 {
    margin: 0;
    color: $white;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    margin-top: 200px;
    font-family: "Bad Script", cursive;
  }

  span {
    font-family: "ABeeZee", sans-serif;
    font-size: 50px;
  }

  .flat-desk-img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 700px;
    margin-top: 100px;
  }
}

/*Navigation*/
.nav-placeholder {
  height: 70px;
}

.nav-bar {
  background-color: #f4f4f4;
  width: 100%;
  height: 70px;
  box-shadow: 1px 0px 1px #828282;

  &.nav-bar-fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .nav-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.name {
  h3 {
    font-family: "Pacifico", cursive;
    color: $pink;
    font-size: 30px;
  }
}

.nav-items {
  a {
    display: inline-block;
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
    color: $pink;
  }
}

.nav-items a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: $pink;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-items a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*Main Container*/
.main-container {
  width: 100%;
  background-color: $white;
  clear: both;

  &.with-margin-top {
    margin-top: 70px;
  }
}

.columns {
  margin: 0;
  padding: 0;
}

.columns .column {
  margin: 0;
  padding: 0;
}

/*About Section*/
.about {
  width: 70%;
  padding: 50px 0px;
  margin: 0 auto;

  .lam-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 170px;
    border: solid 1px #d9dce1;
  }

  .about-me-description h3 {
    color: $teal;
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
  }

  .about-me-description p {
    color: $grey;
    margin: 0;
    line-height: 35px;
    font-size: 15px;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .about-me-description {
    padding: 0px 25px;
  }
}

/* Workspace Flat Section */
.workspace-flat {
  border-bottom: solid 20px #605866;

  .workspace-flat-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: -13px;
  }
}

/*Skills Section*/
.skills {
  width: 100%;
  background-color: $teal;
  color: $white;
  border-bottom: solid 5px darken($color: $teal, $amount: 10);

  .columns {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0px;
  }

  h4 {
    color: darken($color: $teal, $amount: 18);
    font-size: 20px;
  }

  p,
  ul li {
    line-height: 25px;
    letter-spacing: 2px;
    list-style-type: square;
    font-size: 13px;
    font-weight: 600;
  }
}

.skills-pic-container {
  position: relative;

  .element {
    position: absolute;
    display: block;
    font-size: 80px;
    opacity: 0.8;
  }
}

.element#javascript-icon {
  top: 70px;
  left: 80px;
}

.element#node-icon {
  top: 70px;
  left: 220px;
}

.element#react-icon {
  bottom: -270px;
  left: 75px;
}

.element#git-icon {
  bottom: -270px;
  left: 230px;
}

#all-skills {
  display: none;
  margin-top: 50px;
  margin: 0 auto;
  font-size: 60px;
  opacity: 0.8;

  .all-skills-container {
    padding: 0px;
    padding-bottom: 30px;
  }
}

.frameworks-tools {
  display: flex;
  justify-content: space-between;
}

/*Experience Section*/
.experience {
  padding: 50px 0px;
  width: 100%;
  background: $light-grey;

  .experience-container {
    width: 70%;
    margin: 0 auto;
  }
}

.experience-container > h2 {
  color: $pink;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.timeline {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  height: 100%;
  width: 2px;
  background: $pink;
}

.timeline-block {
  margin: 0;
  padding-top: 30px;
  height: auto;

  opacity: 0;
  -webkit-transform: translateY(-20px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translateY(-20px); /* IE 9 */
  transform: translateY(-20px);
  transition: all 1s ease-in-out;
}

.timeline-circle {
  background-color: $pink;
  border: solid 4px $light-grey;
  padding: 15px;
  float: left;
  z-index: 100;
  position: absolute;
  left: 10px;
  border-radius: 41px;

  p {
    color: $white;
    font-size: 10px;
    margin: 0;
    text-align: center;
  }
}

.timeline-content {
  background-color: $super-light-grey;
  position: relative;
  margin-left: 130px;
  padding: 20px;
  box-shadow: 1px 1px 5px #dddddd;

  .job-location {
    color: $pink;
    font-size: 15px;
  }
}

.timeline-content:before {
  content: "";
  position: absolute;
  top: 35px;
  right: 100%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right: 10px solid $pink;
}

.experience {
  .job-title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $pink;
      font-size: 18px;
    }

    a:hover {
      color: lighten($color: $pink, $amount: 10);
    }
  }
}

.timeline-content {
  h3 {
    color: $dark-grey;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
  }

  ul {
    color: $grey;
    font-size: 15px;
    list-style: circle;
    padding: 0px 0px 0px 20px;
  }
}

.timeline-block.show {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Parallax Section*/
.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background-image: url("../img/rocket-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h2 {
    font-weight: 100;
    color: $white;
    text-shadow: 1px 1px 5px #828282;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
    font-size: 35px;
  }

  h6 {
    color: $white;
    text-shadow: 1px 1px 5px #828282;
    margin: 0;
  }
}

/* Specialization Section */
// .specialization {
//   width: 100%;
//   background-color: $pink;
//   padding: 40px 0px;
// }

// .specialization-container {
//   width: 70%;
//   margin: 0 auto;
//   text-align: center;
// }

// .specialization .specialization-container h4 {
//   color: #984342;
//   margin-bottom: 30px;
//   text-align: center;
//   font-size: 30px;
//   font-weight: bold;
// }

// .specialization .specialization-container img {
//   width: 150px;
//   margin-bottom: 15px;

//   opacity: 0;
//   -webkit-transform: translateY(-50px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
//   -ms-transform: translateY(-50px); /* IE 9 */
//   transform: translateY(-50px);
//   transition: all 0.3s ease-in-out;
// }

// .specialization .specialization-container h5 {
//   color: $white;
//   font-weight: bold;
//   margin-bottom: 10px;
// }

// .specialization .columns .column li {
//   color: $white;
// }

// .specialization .columns .column h5,
// .specialization .columns .column p {
//   opacity: 0;
//   -webkit-transform: translateY(50px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
//   -ms-transform: translateY(50px); /* IE 9 */
//   transform: translateY(50px);
//   transition: all 0.3s ease-in-out;
// }

// .specialization .columns .column img.show,
// .specialization .columns .column h5.show,
// .specialization .columns .column p.show {
//   opacity: 1;
//   -webkit-transform: translateY(0px); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
//   -ms-transform: translateY(0px); /* IE 9 */
//   transform: translateY(0px);
// }

/* Contact Section */
.contact {
  width: 100%;
  min-height: 230px;
  padding: 0px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  background-color: darken($color: $pink, $amount: 3);

  .contact-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    h4 {
      text-transform: uppercase;
      color: $white;
      margin: 0;
      margin-bottom: 30px;
      font-size: 25px;
      opacity: 0.8;
    }

    i {
      font-size: 30px;
      background-color: transparent;
      color: $white;
      border: solid 2px $white;
      padding: 15px;
      border-radius: 40px;
      opacity: 0.8;
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      transform: rotate(-360deg);
      transition: all 0.2s ease-in-out;
    }

    i:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      color: $pink;
      background-color: $white;
    }

    .footer-text {
      padding: 30px;

      p {
        color: #fff;
        opacity: 0.8;

        .footer {
          border: none;
          padding: 2px;
          font-size: 20px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        .footer:hover {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          color: $white;
          background-color: transparent;
        }
      }
    }
  }
}
