@media only screen and (max-width: 1025px) {
  .about {
    .lam-img {
      margin: 0 auto;
    }
  }

  #skills-pic {
    .element {
      display: none;
    }
  }

  #all-skills {
    display: block;
  }

  .nav-bar {
    .nav-container {
      width: 90%;
    }
  }

  .about {
    width: 90%;
  }

  .skills {
    .columns {
      width: 90%;
    }
  }

  .experience {
    .experience-container {
      width: 90%;
    }
  }

  .specialization .specialization-container,
  .contact .contact-container {
    width: 90%;
  }

  #contact {
    .social-media {
      width: calc(100% / 3);
    }
  }
}

@media only screen and (max-width: 770px) {
  .opl {
    display: none;
  }

  .nav-placeholder {
    height: 100px;
  }

  .nav-bar {
    .nav-container {
      width: 95%;
    }
  }

  .about-container {
    flex-direction: column;

    .about-me-description {
      padding: 0px;
      padding-top: 25px;
    }
  }

  .workspace-flat {
    .workspace-flat-container {
      width: 100%;
    }
  }

  .frameworks-tools {
    ul {
      flex-basis: 50%;
    }
  }
}

@media only screen and (max-width: 540px) {
  .nav-placeholder {
    height: 100px;
  }

  .nav-bar {
    height: 100px;

    .nav-container {
      flex-direction: column;

      .name,
      .nav-items {
        margin-top: 5px;
      }
    }
  }

  .frameworks-tools {
    ul {
      flex-basis: auto;
    }
  }
}

@media only screen and (max-width: 450px) {
  .parallax {
    h1 {
      font-size: 30px;
      padding-top: 180px;
    }
  }

  .contact {
    .contact-container {
      width: 100%;

      i {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 405px) {
  .nav-bar {
    .nav-container {
      width: 99%;
    }
  }
}
